*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.7;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [siderbar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #54483A;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483A;
}

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #B28451;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.sidebar {
  background-color: #c69963;
  grid-column: siderbar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 62.5em) {
  .sidebar {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;
}
.nav-btn::before, .nav-btn::after {
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  content: "";
  display: block;
}
.nav-btn::before {
  transform: translateY(-1.5rem);
}
.nav-btn::after {
  transform: translateY(1.3rem);
}
@media only screen and (max-width: 62.5em) {
  .nav-btn {
    margin-top: 0;
    margin-right: 3rem;
  }
  .nav-btn::before {
    transform: translateY(-1.2rem);
  }
  .nav-btn::after {
    transform: translateY(1rem);
  }
}

.header {
  background-color: #54483A;
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;
}
@media only screen and (max-width: 50em) {
  .header {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 5rem;
  }
}
.header__logo {
  height: 3rem;
  justify-self: center;
}
.header__btn {
  align-self: start;
  justify-self: start;
}
.header__seenon-text {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  font-size: 1.6rem;
  color: #aaa;
}
.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.header__seenon-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  justify-items: center;
  align-items: center;
}
.header__seenon-logos img {
  max-height: 2.5rem;
  max-width: 100%;
  filter: brightness(70%);
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  padding: 3rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-row-gap: 2rem;
}
@media only screen and (max-width: 50em) {
  .realtors {
    grid-column: 1/-1;
  }
}
.realtors__list {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 5vh;
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .realtors__list {
    grid-template-columns: repeat(3, min-content max-content);
  }
}
@media only screen and (max-width: 37.5em) {
  .realtors__list {
    grid-template-columns: min-content max-content;
  }
}
.realtors__img {
  width: 7rem;
  border-radius: 50%;
  display: block;
}
.realtors__sold {
  text-transform: uppercase;
  color: #aaa;
  margin-top: -3px;
}

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
}
@media only screen and (max-width: 34.875em) {
  .features {
    margin: 10rem 0;
  }
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}
.feature__icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.7rem;
}

.story__pictures {
  background-color: #c69963;
  grid-column: full-start/col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .story__pictures {
    grid-column: 1/-1;
    padding: 3rem;
  }
}
.story__img--1 {
  width: 100%;
  grid-row: 2/6;
  grid-column: 2/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 50em) {
  .story__img--1 {
    grid-column: 1/5;
    grid-row: 1/-1;
  }
}
.story__img--2 {
  width: 115%;
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 50em) {
  .story__img--2 {
    grid-row: 1/-1;
    width: 100%;
  }
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 8vw;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  */
  display: grid;
  align-content: center;
  justify-items: start;
}
@media only screen and (max-width: 50em) {
  .story__content {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}
.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
}

.homes {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
}
.home__img {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/-1;
  z-index: 1;
}
.home__like {
  grid-row: 1/2;
  grid-column: 2/3;
  fill: #c69963;
  height: 2.5rem;
  width: 2.5rem;
  z-index: 2;
  justify-self: end;
  margin: 1rem;
}
.home__name {
  grid-column: 1/-1;
  grid-row: 1/2;
  z-index: 3;
  align-self: end;
  width: 80%;
  justify-self: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.2rem;
  background-color: #101d2c;
  color: #fff;
  font-weight: 400;
  transform: translateY(50%);
}
.home__location, .home__rooms {
  margin-top: 2.5rem;
}
.home__location, .home__rooms, .home__area, .home__price {
  font-size: 1.5rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
  fill: #c69963;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
.home__btn {
  grid-column: 1/-1;
}

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/7;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/9;
}
.gallery__item--5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.gallery__item--6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
}
.gallery__item--7 {
  grid-row: 4/span 1;
  grid-column: 5/span 1;
}
.gallery__item--8 {
  grid-row: 3/span 2;
  grid-column: 6/span 2;
}
.gallery__item--9 {
  grid-row: 3/span 3;
  grid-column: 8/span 1;
}
.gallery__item--10 {
  grid-row: 6/span 2;
  grid-column: 1/span 1;
}
.gallery__item--11 {
  grid-row: 6/span 2;
  grid-column: 2/span 2;
}
.gallery__item--12 {
  grid-row: 6/span 2;
  grid-column: 4/span 1;
}
.gallery__item--13 {
  grid-row: 5/span 3;
  grid-column: 5/span 3;
}
.gallery__item--14 {
  grid-row: 6/span 2;
  grid-column: 8/span 1;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.nav__link:link, .nav__link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  text-align: center;
  color: #aaa;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3MvX2Jhc2Uuc2NzcyIsInN0eWxlLmNvbXAuY3NzIiwiLi4vc2Fzcy9fdHlwb2dyYXBoeS5zY3NzIiwiLi4vc2Fzcy9fc2lkZWJhci5zY3NzIiwiLi4vc2Fzcy9faGVhZGVyLnNjc3MiLCIuLi9zYXNzL19yZWFsdG9ycy5zY3NzIiwiLi4vc2Fzcy9fZmVhdHVyZXMuc2NzcyIsIi4uL3Nhc3MvX3N0b3J5LnNjc3MiLCIuLi9zYXNzL19ob21lcy5zY3NzIiwiLi4vc2Fzcy9fZ2FsbGVyeS5zY3NzIiwiLi4vc2Fzcy9fZm9vdGVyLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBd0JBOzs7RUFHSSxTQUFBO0VBQ0EsVUFBQTtFQUNBLG1CQUFBO0FDdkJKOztBRDJCQTtFQUNJLHNCQUFBO0VBQ0EsZ0JBQUE7QUN4Qko7QUQwQkk7RUFKSjtJQUtRLGNBQUE7RUN2Qk47QUFDRjs7QUQyQkE7RUFDSSxpQ0EvQlc7RUFnQ1gsY0FuQ2dCO0VBb0NoQixnQkFBQTtFQUNBLGdCQUFBO0FDeEJKOztBRDRCQTtFQUNJLGFBQUE7RUFDQSxnRUFBQTtFQUNBLDRNQUFBO0FDekJKO0FENkJJO0VBUEo7SUFRTyxxRUFBQTtJQUNBLDBLQUFBO0VDMUJMO0FBQ0Y7QUQ4Qkk7RUFkSjtJQWVPLDJDQUFBO0VDM0JMO0FBQ0Y7O0FDeENBO0VBQ0ksdUNGYVc7RUVaWCxnQkFBQTtBRDJDSjs7QUN4Q0E7RUFFSSxpQkFBQTtFQUNBLGNGRmlCO0VFR2pCLGNBQUE7QUQwQ0o7O0FDdkNBO0VBRUksZUFBQTtFQUNBLGtCQUFBO0VBQ0EsY0FBQTtBRHlDSjtBQ3ZDSTtFQUNJLGNGYmE7QUNzRHJCO0FDdENJO0VBQ0ksY0ZkWTtBQ3NEcEI7O0FDcENBO0VBRUksaUJBQUE7RUFDQSxjRjdCWTtFRThCWix5QkFBQTtBRHNDSjs7QUNuQ0E7RUFFSSxpQkFBQTtBRHFDSjtBQ25DSTtFQUNJLGNGakNhO0FDc0VyQjtBQ2xDSTtFQUNJLGNGbENZO0FDc0VwQjs7QUMvQkE7RUFDSSx5QkZoRFk7RUVpRFosV0FBQTtFQUNBLFlBQUE7RUFDQSxnQkFBQTtFQUNBLHVDRnZDVztFRXdDWCxpQkFBQTtFQUNBLHlCQUFBO0VBQ0Esb0JBQUE7RUFDQSxlQUFBO0VBQ0Esb0JBQUE7QURrQ0o7QUNoQ0k7RUFDSSx5QkYzRGE7QUM2RnJCOztBQzdCQTtFQUNJLG1CQUFBO0FEZ0NKOztBQzdCQTtFQUNJLG1CQUFBO0FEZ0NKOztBQzdCQTtFQUNJLG1CQUFBO0FEZ0NKOztBQzdCQTtFQUNJLG1CQUFBO0FEZ0NKOztBRS9HQTtFQUNJLHlCQUFBO0VBQ0EsdUNBQUE7RUFDQSxjQUFBO0VBRUEsYUFBQTtFQUNBLHVCQUFBO0FGaUhKO0FFL0dJO0VBUko7SUFTTyxpQkFBQTtJQUNBLGFBQUE7SUFDQSx5QkFBQTtJQUNBLG1CQUFBO0VGa0hMO0FBQ0Y7O0FFL0dBO0VBQ0ksWUFBQTtFQUNBLGdCQUFBO0VBRUEsc0JBQUE7RUFDQSxXQUFBO0VBQ0EsYUFBQTtFQUNBLGdCQUFBO0FGaUhKO0FFN0dJO0VBRUksc0JBQUE7RUFDQSxXQUFBO0VBQ0EsYUFBQTtFQUNBLFdBQUE7RUFDQSxjQUFBO0FGOEdSO0FFM0dJO0VBQ0ksOEJBQUE7QUY2R1I7QUUxR0k7RUFDSSw2QkFBQTtBRjRHUjtBRXpHSTtFQTVCSjtJQTZCTyxhQUFBO0lBQ0Esa0JBQUE7RUY0R0w7RUUxR007SUFDQSw4QkFBQTtFRjRHTjtFRXpHTTtJQUNJLDJCQUFBO0VGMkdWO0FBQ0Y7O0FHaktBO0VBQ0kseUJKUWdCO0VJUGhCLGlDQUFBO0VBQ0Esd0dBQUE7RUFDQSxzQkFBQTtFQUNBLDJCQUFBO0VBQ0EsYUFBQTtFQUNBLGlCQUFBO0VBRUEsYUFBQTtFQUNBLGlFQUFBO0VBQ0EsdURBQUE7RUFDQSxvQkFBQTtFQUNBLHVCQUFBO0FIbUtKO0FHaktJO0VBZko7SUFnQk8saUJBQUE7RUhvS0w7QUFDRjtBR2pLSTtFQXBCSjtJQXFCTyxhQUFBO0VIb0tMO0FBQ0Y7QUdqS0k7RUFDSSxZQUFBO0VBQ0Esb0JBQUE7QUhtS1I7QUdoS0k7RUFDSSxpQkFBQTtFQUNBLG1CQUFBO0FIa0tSO0FHL0pJO0VBQ0ksYUFBQTtFQUNBLDBDQUFBO0VBQ0EsdUJBQUE7RUFDQSxtQkFBQTtFQUVBLGlCQUFBO0VBQ0EsV0puQ2E7QUNtTXJCO0FHOUpRO0VBRUksV0FBQTtFQUNBLFdBQUE7RUFDQSxjQUFBO0VBQ0EsOEJBQUE7QUgrSlo7QUczSkk7RUFDSSxhQUFBO0VBQ0EscUNBQUE7RUFDQSxxQkFBQTtFQUNBLHFCQUFBO0VBQ0EsbUJBQUE7QUg2SlI7QUczSlE7RUFDSSxrQkFBQTtFQUNBLGVBQUE7RUFDQSx1QkFBQTtBSDZKWjs7QUk1TkE7RUFDSSx5QkxHYztFS0ZkLGlDQUFBO0VBQ0EsYUFBQTtFQUVBLGFBQUE7RUFDQSx1QkFBQTtFQUNBLHFCQUFBO0VBQ0EscUJBQUE7RUFDQSxrQkFBQTtBSjhOSjtBSTNOSTtFQVpKO0lBYVEsaUJBQUE7RUo4Tk47QUFDRjtBSTNOSTtFQUNJLGFBQUE7RUFDQSw4Q0FBQTtFQUNBLHFCQUFBO0VBQ0EsaUJBQUE7RUFDQSxtQkFBQTtBSjZOUjtBSTNOUTtFQVBKO0lBUVEseURBQUE7RUo4TlY7QUFDRjtBSTVOUTtFQVhKO0lBWVEsOENBQUE7RUorTlY7QUFDRjtBSTNOSTtFQUNJLFdBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7QUo2TlI7QUkxTkk7RUFDSSx5QkFBQTtFQUNBLFdMbkNhO0VLb0NiLGdCQUFBO0FKNE5SOztBS3ZRQTtFQUVJLG9DQUFBO0VBRUEsZUFBQTtFQUVBLGFBQUE7RUFFQSwyREFBQTtFQUNBLGNBQUE7RUFFQSxrQkFBQTtBTHFRSjtBS25RSTtFQWJKO0lBY1EsZUFBQTtFTHNRTjtBQUNGOztBS2pRQTtFQUVJLGFBQUE7RUFDQSxzQ0FBQTtFQUNBLG9CQUFBO0VBQ0EsdUJBQUE7QUxtUUo7QUtqUUk7RUFDSSxhTjNCUTtFTTRCUixhQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBO0VBQ0EsNEJBQUE7QUxtUVI7QUtoUUk7RUFDSSxpQkFBQTtBTGtRUjs7QU1uU0k7RUFDSSx5QlBIUTtFT0lSLGlDQUFBO0VBQ0EseUdBQUE7RUFDQSxzQkFBQTtFQUNBLGFBQUE7RUFDQSxrQ0FBQTtFQUNBLHFDQUFBO0VBQ0EsbUJBQUE7QU5zU1I7QU1uU1E7RUFYSjtJQVlRLGlCQUFBO0lBQ0EsYUFBQTtFTnNTVjtBQUNGO0FNalNJO0VBQ0ksV0FBQTtFQUNBLGFBQUE7RUFDQSxnQkFBQTtFQUNBLDBDQUFBO0FObVNSO0FNalNRO0VBTko7SUFPTyxnQkFBQTtJQUNBLGNBQUE7RU5vU1Q7QUFDRjtBTWhTSztFQUNHLFdBQUE7RUFDQSxhQUFBO0VBQ0EsZ0JBQUE7RUFDQSxXQUFBO0VBQ0EsMENBQUE7QU5rU1I7QU1oU1E7RUFQSDtJQVFNLGNBQUE7SUFDQSxXQUFBO0VObVNUO0FBQ0Y7QU0vUkk7RUFDSSx5QlA1Q2E7RU82Q2IsaUNBQUE7RUFFQSxpQkFBQTtFQUVBOzs7OztHQUFBO0VBT0EsYUFBQTtFQUNBLHFCQUFBO0VBQ0Esb0JBQUE7QU44UlI7QU01UlE7RUFqQko7SUFrQlEsaUJBQUE7SUFDQSxhQUFBO0VOK1JWO0FBQ0Y7QU0zUkk7RUFDSSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsbUJBQUE7QU42UlI7O0FPeldBO0VBRUksb0NBQUE7RUFDQSxlQUFBO0VBRUEsYUFBQTtFQUNBLDJEQUFBO0VBQ0EsY0FBQTtBUDBXSjs7QU90V0E7RUFDSSx5QlJOaUI7RVFRakIsYUFBQTtFQUNBLHFDQUFBO0VBQ0Esb0JBQUE7QVB3V0o7QU90V0k7RUFDSSxXQUFBO0VBQ0EsYUFBQTtFQUNBLGlCQUFBO0VBQ0EsVUFBQTtBUHdXUjtBT3BXSTtFQUNJLGFBQUE7RUFDQSxnQkFBQTtFQUVBLGFSN0JRO0VROEJSLGNBQUE7RUFDQSxhQUFBO0VBQ0EsVUFBQTtFQUNBLGlCQUFBO0VBQ0EsWUFBQTtBUHFXUjtBT2xXSTtFQUNJLGlCQUFBO0VBQ0EsYUFBQTtFQUNBLFVBQUE7RUFDQSxlQUFBO0VBRUEsVUFBQTtFQUNBLG9CQUFBO0VBQ0EsdUNSaENPO0VRaUNQLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxlQUFBO0VBQ0EseUJSOUNVO0VRK0NWLFdBQUE7RUFDQSxnQkFBQTtFQUNBLDBCQUFBO0FQbVdSO0FPL1ZJO0VBRUksa0JBQUE7QVBnV1I7QU83Vkk7RUFLSSxpQkFBQTtFQUNBLGlCQUFBO0VBRUMsYUFBQTtFQUNELG1CQUFBO0FQMFZSO0FPeFZRO0VBQ0ksYVJ6RUk7RVEwRUosWUFBQTtFQUNBLFdBQUE7RUFDQSxrQkFBQTtBUDBWWjtBT3RWSTtFQUNJLGlCQUFBO0FQd1ZSOztBUTFhQTtFQUNJLHlCVEtpQjtFU0pqQixnQ0FBQTtFQUVBLGFBQUE7RUFDQSxxQ0FBQTtFQUNBLGtDQUFBO0VBQ0EsZ0JBQUE7RUFDQSxlQUFBO0FSNGFKO0FRemFRO0VBQ0ksa0JBQUE7RUFDQSxxQkFBQTtBUjJhWjtBUXhhUTtFQUNJLGtCQUFBO0VBQ0EscUJBQUE7QVIwYVo7QVF2YVE7RUFDSSxrQkFBQTtFQUNBLGdCQUFBO0FSeWFaO0FRdGFRO0VBQ0ksa0JBQUE7RUFDQSxnQkFBQTtBUndhWjtBUXJhUTtFQUNJLGtCQUFBO0VBQ0EscUJBQUE7QVJ1YVo7QVFwYVE7RUFDSSxrQkFBQTtFQUNBLHFCQUFBO0FSc2FaO0FRbmFRO0VBQ0ksa0JBQUE7RUFDQSxxQkFBQTtBUnFhWjtBUWxhUTtFQUNJLGtCQUFBO0VBQ0EscUJBQUE7QVJvYVo7QVFqYVE7RUFDSSxrQkFBQTtFQUNBLHFCQUFBO0FSbWFaO0FRaGFRO0VBQ0ksa0JBQUE7RUFDQSxxQkFBQTtBUmthWjtBUS9aUTtFQUNJLGtCQUFBO0VBQ0EscUJBQUE7QVJpYVo7QVE5WlE7RUFDSSxrQkFBQTtFQUNBLHFCQUFBO0FSZ2FaO0FRN1pRO0VBQ0ksa0JBQUE7RUFDQSxxQkFBQTtBUitaWjtBUTVaUTtFQUNJLGtCQUFBO0VBQ0EscUJBQUE7QVI4Wlo7QVF6Wkk7RUFDSSxXQUFBO0VBQ0EsWUFBQTtFQUNBLG9CQUFBO0tBQUEsaUJBQUE7RUFDQSxjQUFBO0FSMlpSO0FTbGZBO0VBQ0kseUJWR2M7RVVGZCxnQ0FBQTtFQUNBLGFBQUE7QVRvZko7O0FTamZBO0VBQ0ksZ0JBQUE7RUFDQSxhQUFBO0VBQ0EsMkRBQUE7RUFDQSxjQUFBO0VBQ0EsbUJBQUE7QVRvZko7QVNsZkk7RUFFSSxpQkFBQTtFQUNBLFdBQUE7RUFDQSxxQkFBQTtFQUNBLHVDVkpPO0VVS1AseUJBQUE7RUFDQSxrQkFBQTtFQUNBLGVBQUE7RUFDQSxjQUFBO0VBQ0Esb0JBQUE7QVRtZlI7QVM3ZUk7RUFFSSwyQ0FBQTtFQUNBLDJCQUFBO0FUOGVSOztBU3plQTtFQUNJLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxXVmpDaUI7RVVrQ2pCLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxpQkFBQTtFQUNBLFVBQUE7QVQ0ZUoiLCJmaWxlIjoic3R5bGUucHJlZml4LmNzcyJ9 */